<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 正式服务器域名 www.qmxf.119xiehui.com -->
    <!--语音电话API地址-->
    <!--<add key="YYPhoneAPI" value="http://www.yyphone.qmxf.119xiehui.com/Phone/TenCallUp"/>-->
    <!---极光推送API地址-->
    <!--<add key="JGAPI" value="http://www.qmxf.119xiehui.com/api/New/PushNoticeV3"/>-->
    <!-- 测试服务器域名 www.qmxf.119xiehui.com -->
    <!--语音电话API地址-->
    <add key="YYPhoneAPI" value="http://yyphone.test.119xiehui.com/Phone/TenCallUp"/>
    <!--语音电话API地址-->
    <add key="YYPhoneAPIP1" value="http://qmxf.phoneapi.dt.119xiehui.com/Phone/TenCallUpP1"/>
    <!---极光推送API地址-->
    <add key="JGAPI" value="http://qmxf.web.test.119xiehui.com/api/New/PushNoticeV3"/>
    <!---电信平台登录地址-->
    <add key="DeviceLogin" value="https://device.api.ct10649.com:8743/iocm/app/sec/v1.1.0/login"/>
    <!---电信平台给设备下发指令-->
    <add key="DeviceInstructions" value="https://device.api.ct10649.com:8743/iocm/app/cmd/v1.4.0/deviceCommands"/>
    <!---电信平台secret-->
    <add key="DeviceSecret" value="olk95etXvHuQ1f75HmelXezS71ga"/>
    <!---电信平台AppID-->
    <add key="DeviceAppID" value="WZfm9GApPGiPE8rMGuaT36HOh2Ya"/>
    <!-- 推送创辉接口地址-->
    <add key="JGCHApi" value="http://push.login.119xiehui.com/api/Push/PushMsg"/>
    <!---报警同步设备管理系统api-->
    <add key="EM_AlertsApiUrl" value="http://dvapi.xfv3.119xiehui.com/api/Alerts_Records/AddAlertInfo"/>
    <!-- 故障同步设备管理系统api-->
    <add key="EM_FaultApiUrl" value="http://dvapi.xfv3.119xiehui.com/api/Alerts_Records/AddFaultInfo"/>
    <!-- 同步设备管理系统设备报警状态变更-->
    <add key="EM_UpdateDevStateApiUrl" value="http://dvapi.xfv3.119xiehui.com/api/Alerts_Records/UpdateDeviceStatus"/>
    <add key="FuelGasRedisConnection" value="119.3.251.42:904, abortConnect= false,allowAdmin = true,password=e96677860a9de5aa3fa18c2a794f765e"/>
    <add key="FuelGasRedisConnectionDb" value="49"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>

    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>